/* header section */
.header{
    display: flex;
    flex-direction: row;
    height: 55px;
    justify-content: space-between;
    align-items: center;
    vertical-align: center;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: white;
    border-bottom: 1px solid rgb(218, 218, 218);
}
/* 3 section */
.left-section{
    display: flex;
    align-items: center;
    margin-left: 35px;
}
.middle-section{
   
    flex: 1;
    /* width: 550px; */
    max-width: 600px;
    display: flex;
    align-items: center;
    margin-left: 50px;
}
.right-section{
    margin-left: 30px;
    width: 200px;
    display: flex;
    justify-content: space-around;
    margin-right: 20px;
    flex-shrink: 0;
}
.youtube-logo{
    margin-left: 28px;
    height: 34px;
    
}
.youtube-font{
    font-weight: 700;
}

.search-box{
    flex: 1;
    height: 33px;
    width: 0;
    max-width: 600px;
    padding-left: 10px;
    font-size: 16px;
    border: 1px solid rgb(194, 194, 194);
    border-radius: 2px;
    box-shadow: inset 1px 2px 5px rgba(0, 0, 0, 0.20)
}
.search-box::placeholder{
    font-size: 15px;
    font-weight: 500;
}
.search-icon{
    height: 37px;
    width: 60px;
    border: 1px solid rgb(194, 194, 194);
    background-color: rgba(240, 240, 240);

}
.voice-icon{
    margin-left: 15px;
    height: 37px;
    width: 40px;
    background-color: rgb(231, 231, 231);
    border-radius: 20px;
    /* margin-right: 1000px; */
    border: none;
}
.voice-icon-image{
    height: 26px;
    margin-left: -1px;
    background-color: rgb(231, 231, 231);
}
.create-icon, .apps-icon, .notification-icon{
    height: 26px;
    width: 30px;
}
.propic-icon{
    height: 32px;
    width: 30px;
    border-radius: 15px;
}

.side-bar{
    position: fixed;
    left: 0; 
    bottom: 0;
    top: 55px;
    background-color: white;
}
.sidebar-container{
    height: 87px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 30px;
}
.sidebar-container img{
    height: 30px;
}
.sidebar-container:hover{
    background-color: rgb(207, 205, 205);
}
